#carruselImgs{
    max-height: 200px;
    max-width: 500px;
}
#navbar select{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}